

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Page.Title </title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>


    <!--Navbar-->

    @RenderBody()
    <div> 
    </div>

    <!--Footer -->
    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
